<!doctype html>

<html>

	<div class="friend">
		<img class="img-responsive img-rounded"src="{{imageURL}}">
		<a href="#">
			<h3 class="friendName">{{name}}</h3>
		</a>
		<a href="profile/{{name}}">
			<h4 class="viewProfile">View Profile</h4>
		</a>
		<p>{{description}}</p>
	</div>

</html>
